@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  display: flex;
  margin: 0;
  width: 1300px;
}

main {
  flex-basis: 95%;
  padding: 2em;
}

aside {
  flex-basis: 5%;
  height: 800px;
  padding: 1em;
  border-right: 1px solid #e5e5e5;
  text-align: left;
}

#add-button {
  margin-left: 2em;
}
.add-edit-open {
  flex-basis: 40%;
}

.rotate-add {
  rotate: 45deg;
}

h3 {
  margin-top: 0;
  text-align: left;
}

h1 {
  flex-basis: 100%;
  padding-left: 0.5em;
  font-weight: 500;
}

#content {
  display: flex;
  padding-top: 2em;
  width: 100%;
}

#add-button {
  margin-top: 2em;
}

.book-list {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 5px;
}

.book-list:nth-child(1) {
  border-right: 1px solid #e5e5e5;
}

.book-card {
  flex-basis: 1;
  background-color: #b692fe;
  margin: 1em;
  padding: 1em;
  width: 240px;
  border-radius: 15px;
  /* box-shadow: 0px 0px 10px 2px rgba(196, 196, 196, 0.75); */
}

.book-card p {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 1em;
}

#book-title {
  font-weight: 500;
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  margin-top: 5px;
}

#author-and-release {
  width: 100%;
  text-align: left;
}

.book-card .remove-button,
.book-card .edit-button,
.book-card .remove-button:hover,
.book-card .edit-button:hover {
  position: absolute;
  margin-left: 0.8em;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.remove-button {
  background: url(../assets/trash.svg);
}

.remove-button:hover {
  background: url(../assets/trash-hover.svg);
}

.edit-button {
  margin-top: 3.5em;
  background: url(../assets/pencil.svg);
}

.edit-button:hover {
  background: url(../assets/pencil-hover.svg);
}

input[type='text'] {
  border: 0;
  outline: none;
  margin-left: 0.5em;
  font-size: 1.2em;
}

::placeholder {
  color: #e5e5e5;
  font-weight: 500;
}

#form-area {
  text-align: center;
}

#form input[type='text'] {
  border-bottom: 1px solid #e5e5e5;
  margin: 1.5em 0;
  font-size: 1em;
  width: 80%;
}
#form input[type='file'] {
  margin: 1em;
  margin-right: 20%;
  padding: 10px;
}
label {
  margin-right: 35%;
  margin-bottom: 1em;
  color: #666;
  font-weight: 500;
}

#add-edit-button {
  width: 80%;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

#form-area .finished-group {
  text-align: left;
  padding-left: 10%;
  margin-bottom: 1em;
}

.finished-group label {
  margin-right: 0;
}
#add-edit-button:hover {
  background-color: #c3c3c3;
}

#add-edit-button:hover:active {
  background-color: #c3c3c3;
  box-shadow: 0px 0px;
  transform: translateY(4px);
}

#form-area .bg-color-group {
  text-align: left;
  margin-left: 10%;
  margin-bottom: 5%;
}
#form-area .bg-color-opt {
  display: inline-block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bg-color-opt-click {
  border: 2px solid black;
}
.void {
  font-size: 1.2em;
  color: #e5e5e5;
  margin: 1em auto;
}
